.acerca
  display: table
  width: 100%
  background-color: $gris
  padding-top: 3rem
  .presentacion
    width: 100%
    //border-style: solid
    h2
      font-size: 1.5rem
      letter-spacing: 0.3rem
      margin: 0 auto
      width: 80%
      text-transform: uppercase
      padding: 0 0 0.7rem 0
      color: $negro
      font-family: $fonttittle
      border-top: 0.1rem solid $negro
      border-right: 0.1rem solid
      box-sizing: border-box
    h1
      font-size: 3rem
      width: 80%
      text-transform: uppercase
      letter-spacing: 0.1rem
      line-height: 1
      color: $negro
      font-family: $fonttittle
      margin: 0 auto
      border-right: 0.1rem solid $negro
      box-sizing: border-box
  .container
    box-sizing: border-box
    margin: 5vh auto
    width: 80%

    .face
      //height: 60vh
      width: 100%
      margin: 0
      overflow: hidden
      background: url(../imagenes/jjmb.jpg) no-repeat center center
      background-size: cover
      p
        color: $gris
        width: 37vw
        margin-right: 1rem
        float: right
        padding: 10vh 2vw
        //background: $lila
        border-bottom: 0.1rem solid $gris
        border-right: 0.1rem solid $gris
