.contacto
  display: table
  width: 100%
  background-color: $gris
  padding-top: 3rem
  h2
    font-size: 1.5rem
    letter-spacing: 0.3rem
    margin: 0 auto
    width: 80%
    text-transform: uppercase
    padding: 0 0 0.7rem 0
    color: $negro
    font-family: $fonttittle
    border-top: 0.1rem solid $negro
    border-right: 0.1rem solid $negro
    box-sizing: border-box
  h1
    font-size: 3rem
    width: 80%
    text-transform: uppercase
    letter-spacing: 0.1rem
    line-height: 1
    color: $negro
    font-family: $fonttittle
    margin: 0 auto
    border-right: 0.1rem solid $negro
    box-sizing: border-box
  .table
    display: table
    width: 100%
    padding: 1rem 0 3rem 0
    .google-map
      p
        width: 400px
      display: table-cell
