
body
  background: $gris

  .agradecimiento
    //border-style: solid
    height: 100vh
    width: 100vw
    //display: table-cell
    //vertical-align: middle
    padding: 3rem 0
    .center
      //border-style: solid
      h2
        width: 50%
        //border-style: solid
        margin: 0 auto
        font-size: 1.2rem
        text-align: center
      h3
        width: 50%
        //border-style: solid
        margin: 0 auto
        font-size: 1.2rem
        text-align: center
