.home
  display: table
  width: 100%
  height: 100vh
  background: url(../imagenes/home.jpg) no-repeat center center
  background-size: cover
  overflow: hidden
  padding-top: 25vh
  h1
    background-color: rgba($azul, 0.8)
    font-size: 2.3rem
    height: 4rem
    padding: 0.8rem 0
    width: 50rem
    text-align: center
    float: right
    text-transform: uppercase
    margin-bottom: 0
    color: $gris
    font-weight: 400
  h2
    background-color: rgba($lila, 0.8)
    font-size: 1.5rem
    height: 3rem
    padding: 0.7rem 0
    width: 45rem
    text-align: center
    float: right
    text-transform: uppercase
    margin-top: 0
    color: $gris
    font-weight: 400
