* {
  font-family: "Yanone Kaffeesatz", sans-serif;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 20px; }

.nav {
  position: fixed;
  z-index: 2;
  display: table;
  width: 100%;
  height: 2.5rem;
  background-color: rgba(34, 40, 49, 0.8); }
  .nav .logo-menu {
    height: 2.5rem;
    padding: 0 5%;
    width: 29%;
    float: left; }
    .nav .logo-menu img {
      height: 2rem;
      margin-top: 0.25rem; }
  .nav .main-nav {
    float: right;
    height: 2.5rem;
    width: 70%;
    padding: 0; }
    .nav .main-nav .nav-ul {
      margin: 0;
      padding-right: 1.5rem;
      text-align: right;
      height: 2.5rem;
      letter-spacing: -0.25rem; }
      .nav .main-nav .nav-ul li {
        display: inline-block;
        padding: 0.7rem 0;
        list-style-type: none;
        height: 2.5rem;
        width: 16%;
        letter-spacing: normal;
        -webkit-transition: background 0.3s linear;
        -moz-transition: background 0.3s linear;
        -ms-transition: background 0.3s linear;
        -o-transition: background 0.3s linear;
        transition: background 0.3s linear; }
        .nav .main-nav .nav-ul li:hover {
          background-color: #0092CA; }
        .nav .main-nav .nav-ul li a {
          text-decoration: none;
          display: block;
          text-align: center;
          color: white; }

.home {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../imagenes/home.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
  padding-top: 25vh; }
  .home h1 {
    background-color: rgba(0, 146, 202, 0.8);
    font-size: 2.3rem;
    height: 4rem;
    padding: 0.8rem 0;
    width: 50rem;
    text-align: center;
    float: right;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #EEEEEE;
    font-weight: 400; }
  .home h2 {
    background-color: rgba(57, 46, 70, 0.8);
    font-size: 1.5rem;
    height: 3rem;
    padding: 0.7rem 0;
    width: 45rem;
    text-align: center;
    float: right;
    text-transform: uppercase;
    margin-top: 0;
    color: #EEEEEE;
    font-weight: 400; }

.acerca {
  display: table;
  width: 100%;
  background-color: #EEEEEE; }
  .acerca h2 {
    background-color: #392E46;
    font-size: 1.5rem;
    height: 3rem;
    padding: 0.7rem 0;
    width: 45rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #EEEEEE;
    font-weight: 400; }
  .acerca .container {
    box-sizing: border-box;
    margin: 7vh 15vh; }
    .acerca .container .face {
      height: 60vh;
      margin: 0;
      overflow: hidden;
      background: url(../imagenes/jjmb.jpg) no-repeat center center;
      background-size: cover; }
      .acerca .container .face p {
        color: #EEEEEE;
        width: 60vh;
        float: right;
        padding: 6rem 2rem; }

.servicios {
  display: table;
  width: 100%;
  background-color: #EEEEEE; }
  .servicios .tittle {
    width: 100%;
    display: table; }
    .servicios .tittle h2 {
      background-color: #392E46;
      font-size: 1.5rem;
      height: 3rem;
      padding: 0.7rem 0;
      width: 45rem;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 0;
      color: #EEEEEE;
      font-weight: 400;
      float: right; }
  .servicios .container-1 {
    background-color: #EEEEEE;
    display: table;
    width: 100%;
    padding: 0;
    text-align: center; }
    .servicios .container-1 .box {
      display: inline-block;
      border-style: solid;
      width: 35vh;
      margin: 5vh;
      background-color: white;
      border: 0.05rem groove #EEEEEE;
      box-shadow: 0 0.06rem 0.5rem 0 rgba(128, 128, 128, 0.5);
      -webkit-box-shadow: 0 0.06rem 0.5rem 0 rgba(128, 128, 128, 0.5);
      -moz-box-shadow: 0 0.06rem 0.5rem 0 rgba(128, 128, 128, 0.5); }
      .servicios .container-1 .box h3 {
        border-bottom: 0.05rem groove #EEEEEE;
        font-weight: 200;
        padding: 0.2rem 0; }
      .servicios .container-1 .box p {
        padding: 0.5rem 1rem;
        font-size: 0.8rem; }

.proyectos {
  display: table;
  width: 100%;
  background-color: #EEEEEE; }
  .proyectos h2 {
    background-color: #392E46;
    font-size: 1.5rem;
    height: 3rem;
    padding: 0.7rem 0;
    width: 45rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #EEEEEE;
    font-weight: 400; }

/*# sourceMappingURL=main.css.map */
