* {
  font-family: "Open Sans Condensed", sans-serif;
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-size: 22px;
  width: 100%; }

.nav {
  position: fixed;
  z-index: 20;
  display: table;
  width: 100%;
  height: 2.5rem;
  background-color: rgba(34, 40, 49, 0.8); }
  .nav .center .logo-menu {
    height: 2.5rem;
    padding: 0 5%;
    width: 29%;
    float: left; }
    .nav .center .logo-menu a {
      height: 1.8rem; }
      .nav .center .logo-menu a img {
        height: 1.8rem;
        margin-top: 0.25rem;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .nav .center .logo-menu a img:hover {
          border-bottom: 0.1rem solid #FF5733; }
  .nav .center .main-nav {
    float: right;
    height: 2.5rem;
    width: 70%;
    padding: 0; }
    .nav .center .main-nav .menu-icon {
      width: 100%;
      text-align: right;
      box-sizing: border-box;
      cursor: pointer;
      color: #EEEEEE;
      display: none; }
    .nav .center .main-nav .nav-ul {
      margin: 0;
      padding-right: 1.5rem;
      text-align: right;
      height: 2.5rem; }
      .nav .center .main-nav .nav-ul li {
        display: inline-block;
        padding: 0.6rem 0;
        margin-right: 1rem;
        list-style-type: none;
        height: 2rem;
        letter-spacing: normal;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear; }
        .nav .center .main-nav .nav-ul li:hover {
          border-bottom: 0.1rem solid #EEEEEE; }
        .nav .center .main-nav .nav-ul li a {
          text-decoration: none;
          display: block;
          text-align: center;
          color: white; }

.home {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../imagenes/home.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden; }
  .home .portada {
    width: 100%;
    display: table-cell;
    vertical-align: middle; }
    .home .portada h2 {
      font-size: 1.2rem;
      letter-spacing: 0.4rem;
      width: 40%;
      text-transform: uppercase;
      margin: 0 10vw;
      color: #EEEEEE;
      font-family: "Roboto", sans-serif; }
    .home .portada h1 {
      font-size: 3rem;
      padding: 0.8rem 0;
      width: 40%;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      line-height: 1;
      margin: 0 10vw;
      color: #EEEEEE;
      font-family: "Roboto", sans-serif; }
    .home .portada h3 {
      font-size: 1rem;
      width: 40%;
      text-transform: uppercase;
      margin: 0 10vw;
      color: #EEEEEE; }

.acerca {
  display: table;
  width: 100%;
  background-color: #EEEEEE;
  padding-top: 3rem; }
  .acerca .presentacion {
    width: 100%; }
    .acerca .presentacion h2 {
      font-size: 1.5rem;
      letter-spacing: 0.3rem;
      margin: 0 auto;
      width: 80%;
      text-transform: uppercase;
      padding: 0 0 0.7rem 0;
      color: #222831;
      font-family: "Roboto", sans-serif;
      border-top: 0.1rem solid #222831;
      border-right: 0.1rem solid;
      box-sizing: border-box; }
    .acerca .presentacion h1 {
      font-size: 3rem;
      width: 80%;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      line-height: 1;
      color: #222831;
      font-family: "Roboto", sans-serif;
      margin: 0 auto;
      border-right: 0.1rem solid #222831;
      box-sizing: border-box; }
  .acerca .container {
    box-sizing: border-box;
    margin: 2rem auto;
    width: 80%; }
    .acerca .container .face {
      width: 100%;
      margin: 0;
      overflow: hidden;
      background: url(../imagenes/jjmb.jpg) no-repeat center center;
      background-size: cover; }
      .acerca .container .face p {
        color: #EEEEEE;
        width: 37vw;
        margin-right: 1rem;
        float: right;
        padding: 10vh 2vw;
        border-bottom: 0.1rem solid #EEEEEE;
        border-right: 0.1rem solid #EEEEEE; }

.servicios {
  display: table;
  width: 100%;
  background-color: #EEEEEE;
  padding-top: 3rem; }
  .servicios .tittle {
    width: 100%;
    display: table; }
    .servicios .tittle h2 {
      font-size: 1.5rem;
      letter-spacing: 0.3rem;
      margin: 0 auto;
      width: 80%;
      text-transform: uppercase;
      padding: 0 0 0.7rem 0;
      color: #222831;
      font-family: "Roboto", sans-serif;
      border-top: 0.1rem solid #222831;
      border-right: 0.1rem solid;
      box-sizing: border-box; }
    .servicios .tittle h1 {
      font-size: 3rem;
      width: 80%;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      line-height: 1;
      color: #222831;
      font-family: "Roboto", sans-serif;
      margin: 0 auto;
      border-right: 0.1rem solid #222831;
      box-sizing: border-box; }
  .servicios .container-1 {
    background-color: #EEEEEE;
    display: table;
    width: 100%;
    padding: 1rem 10vw;
    text-align: center; }
    .servicios .container-1 .box {
      display: inline-table;
      border: 0;
      outline: 0;
      width: 22vw;
      height: 13rem;
      background-color: white;
      border: 0.05rem groove #EEEEEE;
      -webkit-box-shadow: 0 0.1rem 0.1rem 0 rgba(128, 128, 128, 0.1);
      -moz-box-shadow: 0 0.1rem 0.1rem 0 rgba(128, 128, 128, 0.1);
      box-shadow: 0 0.1rem 0.1rem 0 rgba(128, 128, 128, 0.1);
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
      cursor: pointer; }
      .servicios .container-1 .box:hover {
        -webkit-box-shadow: 0 0.06rem 0.5rem 0.2rem rgba(128, 128, 128, 0.6);
        -moz-box-shadow: 0 0.06rem 0.5rem 0.2rem rgba(128, 128, 128, 0.6);
        box-shadow: 0 0.06rem 0.5rem 0.2rem rgba(128, 128, 128, 0.6); }
      .servicios .container-1 .box h3 {
        border-bottom: 0.05rem groove #EEEEEE;
        font-weight: 200;
        padding: 0.2rem 0;
        color: #222831;
        font-size: 1.2rem; }
      .servicios .container-1 .box p {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        color: #222831; }

.proyectos {
  display: table;
  width: 100%;
  background-color: #EEEEEE;
  padding-top: 3rem; }
  .proyectos h2 {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    margin: 0 auto;
    width: 80%;
    text-transform: uppercase;
    padding: 0 0 0.7rem 0;
    color: #222831;
    font-family: "Roboto", sans-serif;
    border-top: 0.1rem solid #222831;
    border-right: 0.1rem solid;
    box-sizing: border-box; }
  .proyectos h1 {
    font-size: 3rem;
    width: 80%;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    line-height: 1;
    color: #222831;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    border-right: 0.1rem solid #222831;
    box-sizing: border-box; }
  .proyectos .container-2 {
    width: 100%;
    background-color: #EEEEEE;
    height: 50vh; }

.slideshow {
  widht: 100%;
  position: relative; }
  .slideshow .slider {
    margin: 2rem auto;
    display: block;
    width: 79vw;
    height: 60vh;
    overflow: hidden;
    position: relative;
    background: #222831; }
    .slideshow .slider .item {
      position: absolute;
      visibility: hidden;
      opacity: 0; }
      .slideshow .slider .item.actual {
        visibility: visible;
        opacity: 1;
        -webkit-transition: visibility 1s linear;
        -moz-transition: visibility 1s linear;
        -ms-transition: visibility 1s linear;
        -o-transition: visibility 1s linear;
        transition: visibility 1s linear;
        -webkit-transition: opacity 1s linear;
        -moz-transition: opacity 1s linear;
        -ms-transition: opacity 1s linear;
        -o-transition: opacity 1s linear;
        transition: opacity 1s linear; }
      .slideshow .slider .item img {
        width: 100%; }
    .slideshow .slider .next {
      position: absolute;
      z-index: 10;
      color: rgba(238, 238, 238, 0.6);
      top: 25vh;
      width: 100%;
      padding: 0 1rem;
      font-size: 2rem; }
    .slideshow .slider .dots {
      position: absolute;
      z-index: 10;
      bottom: 0;
      color: rgba(238, 238, 238, 0.6);
      width: 100%;
      text-align: center; }
      .slideshow .slider .dots ul {
        padding: 0; }
        .slideshow .slider .dots ul li {
          display: inline;
          margin: 0 0.3rem;
          list-style-type: none;
          cursor: pointer; }
          .slideshow .slider .dots ul li.activo {
            color: #EEEEEE; }
  .slideshow #right {
    float: right;
    cursor: pointer; }
  .slideshow #left {
    float: left;
    cursor: pointer; }
  .slideshow #right, .slideshow #left, .slideshow #circle-left, .slideshow #circle-middle, .slideshow #circle-right {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .slideshow #right:hover, .slideshow #left:hover, .slideshow #circle-left:hover, .slideshow #circle-middle:hover, .slideshow #circle-right:hover {
      color: #EEEEEE; }

.ligas {
  display: table;
  width: 100%;
  background-color: #EEEEEE;
  padding-top: 3rem; }
  .ligas h2 {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    margin: 0 auto;
    width: 80%;
    text-transform: uppercase;
    padding: 0 0 0.7rem 0;
    color: #222831;
    font-family: "Roboto", sans-serif;
    border-top: 0.1rem solid #222831;
    border-right: 0.1rem solid #222831;
    box-sizing: border-box; }
  .ligas h1 {
    font-size: 3rem;
    width: 80%;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    line-height: 1;
    color: #222831;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    border-right: 0.1rem solid #222831;
    box-sizing: border-box; }
  .ligas .asociados {
    width: 100%;
    padding: 1rem 10vw;
    text-align: center;
    display: flex;
    justify-content: space-between; }
    .ligas .asociados a {
      width: 22vw;
      height: 23wh;
      display: inline-block;
      text-decoration: none;
      position: relative;
      padding: 0;
      overflow: hidden;
      margin: 1rem; }
      .ligas .asociados a:hover p {
        left: 0%; }
      .ligas .asociados a:hover img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
      .ligas .asociados a img {
        width: 22vw;
        height: 23wh;
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      .ligas .asociados a p {
        margin: 0;
        background: #222831;
        color: #EEEEEE;
        position: absolute;
        bottom: 0;
        width: 100%;
        left: -100%;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }

.contacto {
  display: table;
  width: 100%;
  background-color: #EEEEEE;
  padding-top: 3rem; }
  .contacto h2 {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    margin: 0 auto;
    width: 80%;
    text-transform: uppercase;
    padding: 0 0 0.7rem 0;
    color: #222831;
    font-family: "Roboto", sans-serif;
    border-top: 0.1rem solid #222831;
    border-right: 0.1rem solid #222831;
    box-sizing: border-box; }
  .contacto h1 {
    font-size: 3rem;
    width: 80%;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    line-height: 1;
    color: #222831;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    border-right: 0.1rem solid #222831;
    box-sizing: border-box; }
  .contacto .table {
    display: table;
    width: 100%;
    padding: 1rem 0 3rem 0; }
    .contacto .table .google-map {
      display: table-cell; }
      .contacto .table .google-map p {
        width: 400px; }

.contacto .table .container-3 {
  display: table-cell;
  width: 50%;
  padding: 0;
  text-align: center;
  margin: 0; }
  .contacto .table .container-3 .cf {
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
    text-align: center; }
    .contacto .table .container-3 .cf .half-left-cf {
      width: 100%; }
      .contacto .table .container-3 .cf .half-left-cf input {
        font-size: 1rem;
        border: 0;
        outline: 0;
        padding: 1rem;
        display: block;
        width: 100%;
        margin-top: 1rem;
        -webkit-box-shadow: 0 0.1rem 0.1rem 0 rgba(128, 128, 128, 0.1);
        -moz-box-shadow: 0 0.1rem 0.1rem 0 rgba(128, 128, 128, 0.1);
        box-shadow: 0 0.1rem 0.1rem 0 rgba(128, 128, 128, 0.1);
        resize: none; }
        .contacto .table .container-3 .cf .half-left-cf input:focus {
          border: 0.1rem solid #0092CA !important; }
    .contacto .table .container-3 .cf .half-right-cf {
      width: 100%; }
      .contacto .table .container-3 .cf .half-right-cf textarea {
        font-size: 1rem;
        border: 0;
        outline: 0;
        padding: 1rem;
        display: block;
        width: 100%;
        margin-top: 1rem;
        -webkit-box-shadow: 0 0.1rem 0.1rem 0 rgba(128, 128, 128, 0.1);
        -moz-box-shadow: 0 0.1rem 0.1rem 0 rgba(128, 128, 128, 0.1);
        box-shadow: 0 0.1rem 0.1rem 0 rgba(128, 128, 128, 0.1);
        resize: none;
        height: 7rem; }
        .contacto .table .container-3 .cf .half-right-cf textarea:focus {
          border: 0.1rem solid #0092CA !important; }
    .contacto .table .container-3 .cf #input-submit {
      font-size: 1rem;
      width: 4rem;
      height: 2.5rem;
      margin-top: 1rem;
      color: white;
      background: #0092CA;
      cursor: pointer;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .contacto .table .container-3 .cf #input-submit:hover {
        -webkit-box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(128, 128, 128, 0.6);
        -moz-box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(128, 128, 128, 0.6);
        box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(128, 128, 128, 0.6); }

.footer {
  display: table;
  width: 100%;
  background-color: rgba(34, 40, 49, 0.9);
  height: 25vh;
  padding: 2rem 0 1rem 0; }
  .footer .container-4 {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #EEEEEE;
    font-size: 0.9rem; }
    .footer .container-4 .logo a {
      height: 1.8rem; }
      .footer .container-4 .logo a img {
        height: 1.8rem; }
    .footer .container-4 p {
      margin: 0 0 0.5rem 0; }
    .footer .container-4 .cont-center .icon .fa {
      color: #EEEEEE;
      font-size: 2.3rem; }

/*laptop */
@media screen and (max-width: 1024px) {
  html, body {
    font-size: 20px; }

  .google-map iframe {
    width: 350px;
    height: 250px; } }
.servicios .container-1 .box {
  width: 12rem;
  margin: 1rem; }
.servicios .container-1 #margin, .servicios .container-1 #margin2 {
  margin: 3vh; }

/* tablet */
@media screen and (max-width: 803px) {
  html, body {
    font-size: 18px; }

  #menu-icon {
    display: block;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    #menu-icon .fa {
      font-size: 1.5rem; }

  #esconder {
    display: none; }

  #mostrar {
    display: block;
    height: 12.5rem;
    background-color: rgba(34, 40, 49, 0.8);
    padding: 0; }
    #mostrar li {
      display: block;
      height: 2.5rem;
      width: 100%;
      padding-right: 1rem;
      -webkit-transition: all 0.2s linear;
      -moz-transition: all 0.2s linear;
      -ms-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear; }
      #mostrar li:hover {
        border-right: 0.3rem solid #EEEEEE;
        border-bottom: none; }
      #mostrar li a {
        text-align: right; }

  #mini-nav-il {
    display: none; }

  .contacto .table .container-3 {
    display: block;
    width: 100%; }
  .contacto .table .google-map {
    display: block;
    width: 100%;
    margin: 2rem 0 1rem 0;
    text-align: center; }
    .contacto .table .google-map p {
      width: 100%; }

  .ligas .asociados {
    display: block; }
    .ligas .asociados a {
      width: 11rem;
      height: 12rem;
      display: block;
      margin: 3vh auto; }
      .ligas .asociados a img {
        width: 11rem;
        height: 12rem; }
      .ligas .asociados a p {
        left: 0;
        padding: 0.2rem;
        font-size: 0.8rem; }

  .proyectos h1, .ligas h1, .contacto h1, .servicios .tittle h1, .acerca .presentacion h1, .home .portada h1 {
    font-size: 2.2rem;
    letter-spacing: 0.01rem; }
  .proyectos h2, .ligas h2, .contacto h2, .servicios .tittle h2, .acerca .presentacion h2, .home .portada h2 {
    font-size: 1.1rem;
    letter-spacing: 0.01rem; } }
/* mobile */
@media screen and (max-width: 470px) {
  html, body {
    font-size: 16px; }

  .acerca .container .face {
    background: rgba(34, 40, 49, 0.9); }
    .acerca .container .face p {
      width: 60vw; }

  .proyectos h1, .ligas h1, .contacto h1, .servicios .tittle h1, .acerca .presentacion h1, .home .portada h1 {
    font-size: 1.65rem;
    letter-spacing: 0.01rem; }
  .proyectos h2, .ligas h2, .contacto h2, .servicios .tittle h2, .acerca .presentacion h2, .home .portada h2 {
    font-size: 0.825rem;
    letter-spacing: 0.01rem; }

  .google-map iframe {
    width: 300px;
    height: 200px; } }
/* l */
@media screen and (min-width: 1441px) {
  body {
    background: #EEEEEE; }

  .nav .center {
    width: 1400px;
    margin-left: auto;
    margin-right: auto; }
    .nav .center .logo-menu {
      width: 406px; }
    .nav .center .main-nav {
      width: 980px; }

  .home .portada h2, .home .portada h1, .home .portada h3 {
    text-align: center;
    margin: 0 auto;
    width: 1176px; }

  .content {
    width: 1400px;
    margin: 0 auto; }
    .content .ligas, .content .proyectos, .content .container-2, .content .slideshow, .content .acerca {
      width: 1400px;
      display: block; }
    .content .item, .content .slider {
      width: 1106px; }

  .acerca .container .face p {
    width: 518px; }

  .servicios .container-1 {
    width: 1400px;
    display: block;
    padding: 1rem 140px; }

  .ligas .asociados a {
    width: 308px;
    height: 322px; }
    .ligas .asociados a img {
      width: 308px;
      height: 322px; }

  .contacto .table {
    width: 1120px;
    margin: 0 auto; } }

/*# sourceMappingURL=main.css.map */
