.footer
  display: table
  width: 100%
  background-color: $azul
  height: 40vh
  .container-4
    width: 100%
    display: table-cell
    vertical-align: middle
    border-style: solid
    text-align: center
    color: $gris
    font-size: 0.8rem
