/* l */
@media screen and (min-width: 1441px)

  body
    background: $gris

  //.acerca
    //.presentacion
      //h2, h1
      //  margin: 0

  .content
    width: 1400px
    margin: 0 auto

    .ligas, .proyectos, .container-2, .slideshow, .acerca
      width: 1400px
      display: block

    .item,.slider
      width: 1106px
