/* mobile */
@media screen and (max-width: 425px)
  .home
    h1
      height: auto
    h2
      height: auto

  .acerca
    .presentacion
      .container
        .face
          background: $azul
          height: auto
          p
            width: 85vw
            padding: 2vh
            text-align: center



  .servicios
    .tittle
      h2
        width: 100%
    .container-1
      .box
        width: 90vw

  .proyectos
    h2
      width: 100%

  .contacto
    h2
      width: 100%
    .container-3
      .cf
        max-width: 90%

  .footer
    .container-4
      p
        padding-right: 3vw
        padding-left: 3vw
