/* l */
@media screen and (min-width: 1441px)

  body
    background: $gris

  //.acerca
    //.presentacion
      //h2, h1
      //  margin: 0

  .content
    width: 1400px
    margin: 0 auto

    .ligas, .proyectos, .container-2, .slideshow, .acerca
      width: 1400px
      display: block

    .item,.slider
      width: 1106px

  .acerca
    .container
      .face
        p
          width: 518px

  .servicios
    .container-1
      width: 1400px
      display: block
      padding: 5vh 140px

  .ligas
    .asociados
      a
        width: 308px
        height: 322px
        img
          width: 308px
          height: 322px

  .contacto
    .table
      width: 1120px
      margin: 0 auto
