/*laptop*/
@media screen and (max-width: 1024px)
  html, body,
    font-size: 20px


  .google-map
    iframe
      width: 350px
      height: 250px

.servicios
  .container-1
    .box
      width: 12rem
      margin: 1rem
    #margin, #margin2,
      margin: 3vh
