/* tablet */
@media screen and (max-width: 803px)
  html, body,
    font-size: 18px

  #menu-icon
    display: block
    height: 2.5rem
    padding: 0.5rem 1rem
    +transition( all, 0.3s, ease-in-out )
    .fa
      font-size: 1.5rem

  #esconder
    display: none


  #mostrar
    display: block
    height: 12.5rem
    background-color: $negro
    padding: 0
    li
      display: block
      height: 2.5rem
      width: 100%
      padding-right: 1rem
      +transition( all, .2s, linear )
      &:hover
        border-right: 0.3rem solid $gris
        border-bottom: none
      a
        text-align: right


  #mini-nav-il
    display: none

  .contacto
    .table
      .container-3
        display: block
        width: 100%
      .google-map
        display: block
        width: 100%
        margin: 2rem 0 1rem 0
        text-align: center
        p
          width: 80%
          margin-right: auto
          margin-left: auto

  .ligas
    .asociados
      display: block
      a
        width: 11rem
        height: 12rem
        display: block
        margin: 3vh auto
        img
          width: 11rem
          height: 12rem
        p
          left: 0
          padding: 0.2rem
          font-size: 0.8rem

  .slider
    min-height: 165px

  .proyectos, .ligas, .contacto, .servicios .tittle, .acerca .presentacion, .home .portada
    +fontsize(2.2rem, 0.01rem)
