/*laptop*/
@media screen and (max-width: 1024px)
  html, body,
    font-size: 15px

  .ligas
    .asociados
      a
        width: 13rem
        height: 14rem
        img
          width: 13rem
          height: 14rem
