/* tablet */
@media screen and (max-width: 803px)
  html, body,
    font-size: 18px

  #menu-icon
    display: block
    height: 2.5rem
    padding: 0.5rem 1rem
    +transition( all, 0.3s, ease-in-out )
    //&:hover
      //height: 12.5rem
    &:hover + .nav-ul li
      display: block
    .fa
      font-size: 1.5rem

  .esconder
    display: none

  .mostrar
    display: block

  #mini-nav-il
    padding-right: 0
    width: 100%
    height: 12.5rem
    display: none
    //background-color: rgba($negro, 0.8)
    li
      display: block
      background-color: rgba($negro, 0.8)
        //right: 0
      height: 2.5rem
      margin: 0
      padding-right: 1rem
      +transition( all, .2s, linear )
      &:hover
        border-right: 0.3rem solid $gris
        border-bottom: none
      a
        text-align: right

  .contacto
    .table
      .container-3
        display: block
        width: 100%
      .google-map
        display: block
        width: 100%
        margin: 3rem 0
        text-align: center
        p
          width: 100%

  .ligas
    .asociados
      display: block
      a
        width: 11rem
        height: 12rem
        display: block
        margin: 3vh auto
        img
          width: 11rem
          height: 12rem
        p
          left: 0
          padding: 0.2rem
          font-size: 0.8rem

  .proyectos, .ligas, .contacto, .servicios .tittle, .acerca .presentacion, .home .portada
    +fontsize(2.2rem, 0.01rem)
